.footer {
	padding: 3rem 0rem 0rem 0rem;
	background: var(--color-bg);
	border-top: 1px solid var(--color-border);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-container {
	max-width: var(--max-width);
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 3rem;
}

.footer h4 {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.footer-brand p,
.footer-contact p {
	color: var(--color-text-muted);
	line-height: 1.7;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.footer-logo img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.footer-logo h3 {
	margin: 0;
	font-size: 1.25rem;
}

.footer-links ul,
.footer-tech ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer-links a, .footer-tech li {
	text-decoration: none;
	color: inherit;
	font-size: var(--font-size-p);
	transition: color 0.3s ease, font-weight 0.3s ease;
}

.footer-links a:hover, .footer-tech li:hover {
	color: var(--color-accent);
	font-weight: bold;
}



.footer-contact {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.footer-contact p {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer-socials {
	display: flex;
	gap: 0.5rem;
}

.footer-socials a {
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid var(--color-border);
	font-size: 1.25rem;
	transition: 0.3s;
	color: white;
}

.footer-socials a:hover {
	transform: translateY(-3px);
	border-color: var(--color-accent);
	color: var(--color-accent);
}

.footer-bottom {
	border-top: 1px solid var(--color-border);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem 0;
	color: white;
	background: var(--color-accent);
}

.footer-bottom p {
	margin: 0;
	color: var(--color-text-muted);
}

.footer-top {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--color-accent);
	color: white;
	transition: 0.3s;
}

.footer-top:hover {
	transform: translateY(-4px);
}

@media (max-width: 992px) {
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {

	.footer-container {
		gap: 2rem;
		padding: 0rem 1rem;
	}

	.footer-bottom {
		flex-direction: column;
		text-align: center;
	}
}
