.button {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1;
    border-radius: var(--radius-button);
    overflow: hidden;
    padding: 0px 15px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    height: 40px;
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: white;
}

.button[disabled],
.button:disabled {
    opacity: 0.6;
    box-shadow: none;
}

.button-sm[disabled],
.button-sm:disabled {
    opacity: 0.6;
    box-shadow: none;
}
.button[disabled],
.button:disabled {
    opacity: 0.6;
    box-shadow: none;
}

.button .button-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: bolder;
    font-size: var(--font-size-h3);
}

.button .button-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-xs);
    font-family: var(--font-secondary);
    font-weight: 600;
    line-height: 1;
}

.button:hover {
    color: white;
    box-shadow: var(--shadow-material);
}

.button:active {
    transform: scale(0.95);
}

.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -250%;
    width: 200%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transform: skewX(-20deg);
    z-index: -1;
    transition: left 0.6s ease-in-out;
}

.button:hover::after {
    left: -40%;
}