.header-banner {
	height: 35dvh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	position: relative;
    border-radius: 0px 0px var(--radius-card) var(--radius-card);
}

.header-overlay {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.header-banner h1,
.header-banner p {
	color: white;
	z-index: 100;
}

.banner-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
}

.banner-buttons{
    width: 100%;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.banner-buttons .button{
    
}