---
	import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Sobre mí">
  <h1>Sobre mí</h1>
  <p>
    ¡Hola! Soy un desarrollador apasionado por crear soluciones innovadoras. Con
    experiencia en diversas tecnologías, me encanta aprender y enfrentar nuevos
    desafíos. En este portafolio, encontrarás una selección de mis proyectos más
    destacados. ¡Gracias por visitar!
  </p>
  
</MainLayout>
<!-- 
<style is:global> 
is:global para que el estilo se aplique a toda la página, no solo al componente 
is:inline para que el estilo se aplique solo a este componente
is:raw para que el estilo se aplique sin procesar, es decir, sin agregar el scope automáticamente
-->

