---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Contáctame">
	<h1>Contacto</h1>
	<p>¡Hola! Si deseas ponerte en contacto conmigo, no dudes en enviarme un mensaje. Estaré encantado de responder tus preguntas o colaborar en nuevos proyectos.</p>
</MainLayout>
