---
import Section from "../components/Section.astro";
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import ContactSection from "../components/ContactSection.astro";
import ProjectList from "../components/ProjectList.astro";
import { getCollection } from "astro:content";
import "../css/home.css";

const projects = await getCollection("projects");
---

<MainLayout title="Inicio" isSticky={false}>
	<Fragment slot="header">
		<section class="hero">
			<video class="hero-video" autoplay muted loop playsinline>
				<source src="videos/fondo.mp4" type="video/mp4" />
				Tu navegador no soporta videos HTML5.
			</video>

			<div class="hero-overlay"></div>

			<div class="hero-content container">
				<div class="hero-info">
					<h2>Mucho gusto, soy</h2>
					<h1>Luis Quispe Osorio</h1>
					<p>Desarrollador web enfocado en crear aplicaciones modernas, funcionales y escalables utilizando tecnologías frontend y backend.</p>
					<div class="hero-buttons">
						<a href="/documents/CV_QuispeOsorioLuisAlberto.pdf" target="_blank" class="button bg-accent">
							<Icon name="tabler:file-text-filled" class="button-icon" />
							Ver CV
						</a>
						<a href="https://github.com/LuiO03" target="_blank" class="button bg-dark">
							<Icon name="tabler:brand-github-filled" class="button-icon" />
							Ver GitHub
						</a>
						<a href="https://linkedin.com/in/luiO03" target="_blank" class="button bg-info">
							<Icon name="tabler:brand-linkedin-filled" class="button-icon" />
							Ver LinkedIn
						</a>
						<a href="https://www.figma.com/@luiosorio" target="_blank" class="button bg-success">
							<Icon name="tabler:brand-figma" class="button-icon" />
							Ver Figma
						</a>
					</div>
					<div class="hero-socials">
						<a href="#" target="_blank" aria-label="Facebook">
							<Icon name="tabler:brand-facebook-filled" />
						</a>

						<a href="https://wa.me/922616232" target="_blank" aria-label="WhatsApp">
							<Icon name="tabler:brand-whatsapp-filled" />
						</a>
					</div>
				</div>

				<div class="hero-image">
					<img src="/images/foto-sin-fondo.png" alt="Luis Quispe Osorio" />
				</div>
			</div>
		</section>
	</Fragment>
	<Section id="about" title="Sobre mí">
		<div class="section-content-row">
			<div class="project-column-block">
				<p>
					Soy un <strong>desarrollador web</strong> apasionado por la tecnología y la creación de soluciones digitales. Con experiencia en diversas tecnologías, me gusta crear aplicaciones
					eficientes y orientadas a las necesidades del usuario. 
				</p>

				<p>
					Mi objetivo es seguir creciendo profesionalmente y contribuir a proyectos que generen un impacto real.
				</p>

				<p>
					Mi enfoque se centra en la <strong>calidad del código</strong>, la arquitectura de software y la experiencia del usuario. Me esfuerzo por desarrollar productos
					mantenibles, escalables e intuitivos, combinando un diseño cuidado con un desarrollo sólido. Siempre estoy dispuesto a afrontar nuevos desafíos y continuar evolucionando
					como desarrollador.
				</p>
			</div>
			<div class="section-content-img">
				<img src="/images/fotox.jpg" alt="Luis Quispe Osorio" />
			</div>
		</div>
	</Section>

	<Section
		id="specialties"
		title="Especialidades"
		description="Desarrollo soluciones web y de escritorio aplicando buenas prácticas de arquitectura, interfaces modernas y tecnologías enfocadas en la creación de aplicaciones escalables y mantenibles."
		is_background_alt={true}
	>
		<div class="specialties">
			<div class="specialty">
				<Icon name="tabler:browser" class="specialty-icon" />
				<h3>Desarrollo Frontend</h3>
				<p>
					Construcción de <strong>interfaces modernas, responsivas y accesibles</strong>
					con Vue.js, Astro, HTML, CSS y JavaScript, priorizando la experiencia del usuario y el rendimiento.
				</p>
			</div>

			<div class="specialty">
				<Icon name="tabler:server" class="specialty-icon" />
				<h3>Desarrollo Backend</h3>
				<p>
					Desarrollo de aplicaciones con
					<strong>PHP, Laravel, Java y Spring Boot</strong>, implementando arquitecturas MVC, APIs REST, autenticación y acceso seguro a bases de datos MySQL.
				</p>
			</div>

			<div class="specialty">
				<Icon name="tabler:database" class="specialty-icon" />
				<h3>Arquitectura y Bases de Datos</h3>
				<p>
					Diseño de <strong>modelos de datos relacionales</strong>, optimización de consultas SQL, estructuración de proyectos y aplicación de principios de código limpio y
					separación de responsabilidades.
				</p>
			</div>
		</div>
	</Section>

	<Section id="projects" title={`Mis Proyectos (${projects.length})`} description="Aquí puedes encontrar algunos de los proyectos en los que he trabajado recientemente.">
		<ProjectList limit={4} />
		<div class="project-navigation">
			<a href="/projects" class="button bg-accent">
				<Icon name="tabler:eye-filled" class="button-icon" />
				Ver todos los proyectos
			</a>
		</div>
	</Section>
	<Section id="technologies" title="Tecnologías" description="Tecnologías y herramientas que utilizo." is_background_alt={true}>
		<div class="technologies-container">
			<div class="tech-group">
				<h3>Frontend</h3>

				<div class="tech-items">
					<div class="tech-item html">
						<Icon class="tech-icon" name="simple-icons:html5" />
						<span>HTML5</span>
					</div>
					<div class="tech-item css3">
						<Icon class="tech-icon" name="simple-icons:css" />
						<span>CSS3</span>
					</div>
					<div class="tech-item javascript">
						<Icon class="tech-icon" name="simple-icons:javascript" />
						<span>JavaScript</span>
					</div>
					<div class="tech-item typescript">
						<Icon class="tech-icon" name="simple-icons:typescript" />
						<span>TypeScript</span>
					</div>
					<div class="tech-item astro">
						<Icon class="tech-icon" name="simple-icons:astro" />
						<span>Astro</span>
					</div>
					<div class="tech-item vue">
						<Icon class="tech-icon" name="simple-icons:vuedotjs" />
						<span>Vue.js</span>
					</div>
					<div class="tech-item vite">
						<Icon class="tech-icon" name="simple-icons:vite" />
						<span>Vite</span>
					</div>
					<div class="tech-item sass">
						<Icon class="tech-icon" name="simple-icons:sass" />
						<span>SASS</span>
					</div>
					<div class="tech-item bootstrap">
						<Icon class="tech-icon" name="simple-icons:bootstrap" />
						<span>Bootstrap</span>
					</div>
					<div class="tech-item tailwind">
						<Icon class="tech-icon" name="simple-icons:tailwindcss" />
						<span>Tailwind CSS</span>
					</div>
					<div class="tech-item ajax">
						<Icon class="tech-icon" name="tabler:refresh" />
						<span>AJAX</span>
					</div>
					<div class="tech-item flutter">
						<Icon class="tech-icon" name="simple-icons:flutter" />
						<span>Flutter</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>Backend</h3>
				<div class="tech-items">
					<div class="tech-item php">
						<Icon class="tech-icon" name="simple-icons:php" />
						<span>PHP</span>
					</div>
					<div class="tech-item laravel">
						<Icon class="tech-icon" name="simple-icons:laravel" />
						<span>Laravel</span>
					</div>
					<div class="tech-item composer">
						<Icon class="tech-icon" name="simple-icons:composer" />
						<span>Composer</span>
					</div>
					<div class="tech-item java">
						<Icon class="tech-icon" name="simple-icons:coffeescript" />
						<span>Java</span>
					</div>
					<div class="tech-item springboot">
						<Icon class="tech-icon" name="simple-icons:springboot" />
						<span>Spring Boot</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>Base de Datos</h3>
				<div class="tech-items">
					<div class="tech-item mysql">
						<Icon class="tech-icon" name="simple-icons:mysql" />
						<span>MySQL</span>
					</div>
					<div class="tech-item firebase">
						<Icon class="tech-icon" name="simple-icons:firebase" />
						<span>Firebase</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>Hosting y Deploy</h3>
				<div class="tech-items">
					<div class="tech-item netlify">
						<Icon class="tech-icon" name="simple-icons:netlify" />
						<span>Netlify</span>
					</div>
					<div class="tech-item vercel">
						<Icon class="tech-icon" name="simple-icons:vercel" />
						<span>Vercel</span>
					</div>
					<div class="tech-item hostinger">
						<Icon class="tech-icon" name="simple-icons:hostinger" />
						<span>Hostinger</span>
					</div>
					<div class="tech-item digital-ocean">
						<Icon class="tech-icon" name="simple-icons:digitalocean" />
						<span>DigitalOcean</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>CMS y Constructores Web</h3>
				<div class="tech-items">
					<div class="tech-item wordpress">
						<Icon class="tech-icon" name="simple-icons:wordpress" />
						<span>WordPress</span>
					</div>
					<div class="tech-item elementor">
						<Icon class="tech-icon" name="simple-icons:elementor" />
						<span>Elementor</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>Diseño y Edición</h3>
				<div class="tech-items">
					<div class="tech-item figma">
						<Icon class="tech-icon" name="simple-icons:figma" />
						<span>Figma</span>
					</div>
					<div class="tech-item photoshop">
						<Icon class="tech-icon" name="simple-icons:adobephotoshop" />
						<span>Photoshop</span>
					</div>
					<div class="tech-item illustrator">
						<Icon class="tech-icon" name="simple-icons:adobeillustrator" />
						<span>Illustrator</span>
					</div>
					<!--
					<div class="tech-item premiere">
						<Icon class="tech-icon" name="simple-icons:adobepremierepro" />
						<span>Premiere Pro</span>
					</div>
					-->
					<div class="tech-item canva">
						<Icon class="tech-icon" name="simple-icons:canva" />
						<span>Canva</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>Herramientas y Control de Versiones</h3>
				<div class="tech-items">
					<div class="tech-item git">
						<Icon class="tech-icon" name="simple-icons:git" />
						<span>Git</span>
					</div>
					<div class="tech-item github">
						<Icon class="tech-icon" name="simple-icons:github" />
						<span>GitHub</span>
					</div>
					<div class="tech-item postman">
						<Icon class="tech-icon" name="simple-icons:postman" />
						<span>Postman</span>
					</div>
					<div class="tech-item docker">
						<Icon class="tech-icon" name="simple-icons:docker" />
						<span>Docker</span>
					</div>
					<div class="tech-item mysql-workbench">
						<Icon class="tech-icon" name="simple-icons:mysql" />
						<span>MySQL Workbench</span>
					</div>
					<div class="tech-item xampp">
						<Icon class="tech-icon" name="simple-icons:xampp" />
						<span>XAMPP</span>
					</div>
					<div class="tech-item notion">
						<Icon class="tech-icon" name="simple-icons:notion" />
						<span>Notion</span>
					</div>
					<div class="tech-item asana">
						<Icon class="tech-icon" name="simple-icons:asana" />
						<span>Asana</span>
					</div>
					<div class="tech-item netbeans">
						<Icon class="tech-icon" name="simple-icons:apachenetbeanside" />
						<span>NetBeans</span>
					</div>
					<div class="tech-item intellij">
						<Icon class="tech-icon" name="simple-icons:intellijidea" />
						<span>IntelliJ IDEA</span>
					</div>
				</div>
			</div>
		</div>
	</Section>
	<Section id="knowledge" title="Conocimientos y Buenas Prácticas" description="Principios, arquitecturas y metodologías que aplico en el desarrollo de software.">
		<div class="knowledge-container">
			<div class="knowledge-group">
				<h3>Diseño y Experiencia de Usuario</h3>

				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Low code development-amico.png" alt="Diseño y Experiencia de Usuario" loading="lazy" decoding="async" />
					</div>

					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:users" class="knowledge-icon" />
							<span>Análisis de usuarios</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:layout" class="knowledge-icon" />
							<span>Diseño de interfaces UI</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:device-mobile" class="knowledge-icon" />
							<span>Diseño responsive</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:palette" class="knowledge-icon" />
							<span>Sistemas de diseño</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="knowledge-group">
				<h3>Arquitectura y Patrones</h3>
				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Source code-bro.png" alt="Arquitectura y Patrones" loading="lazy" decoding="async" />
					</div>
					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:layout-dashboard" class="knowledge-icon" />
							<span>Arquitectura MVC</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:components" class="knowledge-icon" />
							<span>Componentización</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:layers-subtract" class="knowledge-icon" />
							<span>Separación de responsabilidades</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="knowledge-group">
				<h3>Backend y APIs</h3>
				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Software integration-bro.png" alt="Backend y APIs" loading="lazy" decoding="async" />
					</div>
					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:api" class="knowledge-icon" />
							<span>REST API</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:database" class="knowledge-icon" />
							<span>CRUD</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:code-circle" class="knowledge-icon" />
							<span>Programación Orientada a Objetos</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:route" class="knowledge-icon" />
							<span>Arquitectura por capas</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:alert-circle" class="knowledge-icon" />
							<span>Manejo de errores</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="knowledge-group">
				<h3>Seguridad Web</h3>
				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Security On-bro.png" alt="Seguridad Web" loading="lazy" decoding="async" />
					</div>
					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:shield-lock" class="knowledge-icon" />
							<span>Protección CSRF</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:lock-password" class="knowledge-icon" />
							<span>Validación y sanitización</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:key" class="knowledge-icon" />
							<span>Autenticación y autorización</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:password" class="knowledge-icon" />
							<span>Hashing de contraseñas</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:code-off" class="knowledge-icon" />
							<span>Prevención XSS</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="knowledge-group">
				<h3>Base de Datos</h3>
				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Server-amico.png" alt="Base de Datos" loading="lazy" decoding="async" />
					</div>
					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:relation-many-to-many" />
							<span>Modelado relacional</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:database-search" />
							<span>Consultas SQL</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:arrows-sort" />
							<span>Optimización básica</span>
						</li>
						<li class="knowledge-item">
							<Icon name="tabler:git-merge" />
							<span>Relaciones y normalización</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:table-options" />
							<span>Migraciones de BD</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="knowledge-group">
				<h3>Control de Versiones</h3>
				<div class="knowledge-content">
					<div class="knowledge-content-img">
						<img src="/images/knowledge/Version control-amico.png" alt="Control de Versiones" loading="lazy" decoding="async" />
					</div>
					<ul class="knowledge-items">
						<li class="knowledge-item">
							<Icon name="tabler:brand-github" />
							<span>Git y GitHub</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:git-branch" />
							<span>Flujo de ramas</span>
						</li>

						<li class="knowledge-item">
							<Icon name="tabler:history" />
							<span>Control de cambios</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</Section>
	<ContactSection />
</MainLayout>
