---
import Section from "../components/Section.astro";
import { Icon } from "astro-icon/components";
import MainLayout from "../layouts/MainLayout.astro";
import ContactSection from "../components/ContactSection.astro";
import ProjectList from "../components/ProjectList.astro";
import "../styles/home.css";
---

<MainLayout title="Inicio">
	<Fragment slot="header">
		<section class="hero">
			<video class="hero-video" autoplay muted loop playsinline>
				<source src="videos/fondo.mp4" type="video/mp4" />
				Tu navegador no soporta videos HTML5.
			</video>

			<div class="hero-overlay"></div>

			<div class="hero-content container">
				<div class="hero-info">
					<h1>Luis Quispe Osorio</h1>

					<h2>Web Designer & Developer</h2>

					<p>Desarrollador web enfocado en crear aplicaciones modernas, funcionales y escalables utilizando tecnologías frontend y backend.</p>

					<div class="hero-buttons">
						<!-- CV -->
						<a href="/documents/CV_QuispeOsorioLuisAlberto.pdf" target="_blank" class="button bg-accent">
							<Icon name="tabler:file-text-filled" class="button-icon" />
							Ver CV
						</a>
						<!-- Github -->
						<a href="https://github.com/LuiO03" target="_blank" class="button bg-dark">
							<Icon name="tabler:brand-github-filled" class="button-icon" />
							Ver GitHub
						</a>
						<!-- LinkedIn -->
						<a href="https://linkedin.com/in/luiO03" target="_blank" class="button bg-info">
							<Icon name="tabler:brand-linkedin-filled" class="button-icon" />
							Ver LinkedIn
						</a>
					</div>

					<div class="hero-socials">
						<a href="#" target="_blank" aria-label="Facebook">
							<Icon name="tabler:brand-facebook-filled" />
						</a>

						<a href="https://wa.me/922616232" target="_blank" aria-label="WhatsApp">
							<Icon name="tabler:brand-whatsapp-filled" />
						</a>
					</div>
				</div>

				<div class="hero-image">
					<img src="/images/foto-sin-fondo.png" alt="Luis Quispe Osorio" />
				</div>
			</div>
		</section>
	</Fragment>

	<Section id="about" title="Sobre mí" description="Soy un desarrollador apasionado por la tecnología y el desarrollo de software.">
		<p>
			Soy un desarrollador apasionado por la tecnología y el desarrollo de software. Con experiencia en diversas tecnologías, me encanta crear soluciones innovadoras y eficientes.
			Mi objetivo es seguir creciendo profesionalmente y contribuir a proyectos que marquen la diferencia.
		</p>
		<p>
			Desde pequeño, siempre he estado fascinado por cómo funcionan las cosas detrás de escena, lo que me llevó a aprender programación y desarrollo web. A lo largo de mi carrera,
			he trabajado en una variedad de proyectos, desde aplicaciones web hasta sistemas más complejos, siempre buscando mejorar mis habilidades y aprender nuevas tecnologías.
		</p>
		<p>
			Mi enfoque se centra en la calidad del código, la usabilidad y la experiencia del usuario. Me esfuerzo por crear productos que no solo funcionen bien, sino que también sean
			intuitivos y agradables de usar. Estoy emocionado por las oportunidades futuras y los desafíos que vendrán en el mundo del desarrollo de software.
		</p>
	</Section>

	<Section
		id="specialties"
		title="Especialidades"
		description="Me especializo en el desarrollo de aplicaciones web modernas utilizando tecnologías como React, Node.js y bases de datos SQL y NoSQL."
		is_background_alt={true}
	>
		<div class="specialties">
			<div class="specialty">
				<Icon name="tabler:code" class="specialty-icon" />
				<h3>Desarrollo Frontend</h3>
				<p>Creación de interfaces de usuario atractivas y funcionales utilizando React, Astro y Tailwind CSS.</p>
			</div>

			<div class="specialty">
				<Icon name="tabler:server" class="specialty-icon" />
				<h3>Desarrollo Backend</h3>
				<p>Implementación de APIs RESTful y GraphQL con Node.js, Express y bases de datos como MongoDB y PostgreSQL.</p>
			</div>

			<div class="specialty">
				<Icon name="tabler:cloud" class="specialty-icon" />
				<h3>Despliegue en la Nube</h3>
				<p>Experiencia en despliegue de aplicaciones en plataformas como Vercel, Netlify y AWS.</p>
			</div>
		</div>
	</Section>

	<Section id="projects" title="Mis Proyectos" description="Aquí puedes encontrar algunos de los proyectos en los que he trabajado recientemente.">
		<ProjectList limit={6} />
		<a href="/projects" class="button bg-accent">
			<Icon name="tabler:eye-filled" class="button-icon" />
			Ver todos los proyectos
		</a>
	</Section>

	
	<Section id="technologies" title="Tecnologías" description="Tecnologías y herramientas que utilizo." is_background_alt={true}>
		<div class="technologies-container">
			<div class="tech-group">
				<h3>Frontend</h3>

				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:html" />
						<span>HTML5</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-css3" />
						<span>CSS3</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-javascript" />
						<span>JavaScript</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-typescript" />
						<span>TypeScript</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-astro" />
						<span>Astro</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-vue" />
						<span>Vue.js</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-bootstrap" />
						<span>Bootstrap</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-tailwind" />
						<span>Tailwind CSS</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:arrows-shuffle" />
						<span>AJAX</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-flutter" />
						<span>Flutter</span>
					</div>
				</div>
			</div>
			<div class="tech-group">
				<h3>CMS y Constructores Web</h3>
				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:brand-wordpress" />
						<span>WordPress</span>
					</div>
					<div class="tech-item">
						<Icon name="tabler:letter-e" />
						<span>Elementor</span>
					</div>
				</div>
			</div>

			<div class="tech-group">
				<h3>Hosting y Deploy</h3>
				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:square-rotated-asterisk" />
						<span>Netlify</span>
					</div>
					<div class="tech-item">
						<Icon name="tabler:brand-vercel" />
						<span>Vercel</span>
					</div>
					<div class="tech-item">
						<Icon name="tabler:letter-h" />
						<span>Hostinger</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:circle" />
						<span>Digital Ocean</span>
					</div>
				</div>
			</div>

			<div class="tech-group">
				<h3>Backend</h3>

				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:brand-php" />
						<span>PHP</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-laravel" />
						<span>Laravel</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:layout-dashboard" />
						<span>MVC</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:api" />
						<span>REST API</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:arrows-shuffle" />
						<span>AJAX</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:shield-lock" />
						<span>CSRF</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:packages" />
						<span>Composer</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:file-code" />
						<span>OOP</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:database-cog" />
						<span>CRUD</span>
					</div>
				</div>
			</div>

			<div class="tech-group">
				<h3>Base de Datos</h3>

				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:brand-mysql" />
						<span>MySQL</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:flame" />
						<span>Firebase</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:relation-many-to-many" />
						<span>Modelado Relacional</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:database-export" />
						<span>Consultas SQL</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:database-cog" />
						<span>Procedimientos CRUD</span>
					</div>
				</div>
			</div>

			<div class="tech-group">
				<h3>Herramientas y Control de Versiones</h3>
				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:brand-git" />
						<span>Git</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-github" />
						<span>GitHub</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-vscode" />
						<span>Visual Studio Code</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:user" />
						<span>Postman</span>
					</div>
					<div class="tech-item">
						<Icon name="tabler:brand-docker" />
						<span>Docker</span>
					</div>
					<div class="tech-item">
						<Icon name="tabler:brand-mysql" />
						<span>MySQL Workbench</span>
					</div>
				</div>
			</div>

			<div class="tech-group">
				<h3>Diseño y Edición</h3>

				<div class="tech-items">
					<div class="tech-item">
						<Icon name="tabler:brand-figma" />
						<span>Figma</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-adobe-photoshop" />
						<span>Photoshop</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:brand-adobe-illustrator" />
						<span>Illustrator</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:palette" />
						<span>UI Design</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:device-desktop" />
						<span>Wireframing</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:components" />
						<span>Prototipado</span>
					</div>

					<div class="tech-item">
						<Icon name="tabler:layout-dashboard" />
						<span>Diseño Responsive</span>
					</div>
				</div>
			</div>
		</div>
	</Section>

	<ContactSection />
</MainLayout>
