---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import { Icon } from "astro-icon/components";
import ProjectList from "../components/ProjectList.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<MainLayout title="Proyectos" backUrl="/" style="padding-top: 60px">
	<Section
		title={`Observa todos mis proyectos (${projects.length})`}
		description="Aquí encontrarás una selección de mis trabajos más destacados. Desde aplicaciones web hasta proyectos de código abierto, cada uno refleja mi pasión por la tecnología y el desarrollo."
	>
		<ProjectList />
		<div class="project-navigation">
			<a href="/" class="button bg-success">
				<Icon name="tabler:home" class="button-icon" />
				Inicio
			</a>
			<a href="/projects" class="button bg-accent">
				<Icon name="tabler:arrow-right" class="button-icon" />
				Siguiente
			</a>
		</div>
	</Section>
</MainLayout>
