---
interface Props {
	bannerImage?: string;
}
const { bannerImage } = Astro.props;

import "../css/components/banner.css";
---

<div class="header-banner" style={`background-image: url(${bannerImage});`}>
	<div class="header-overlay">
		<slot />
	</div>
</div>
