---
  import '../styles/navbar.css';
---
<nav class="navbar">
  <div class="navbar-content"><!-- div para implementar ancho maximo -->
    <article class="logo">LuiOsorio</article>
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/about">Sobre mí</a></li>
      <li><a href="/projects">Proyectos</a></li>
      <li><a href="/contact">Contacto</a></li>
      <li><a href="/probar404">Probar 404</a></li>
    </ul>
  </div>
</nav>