---
import { Icon } from "astro-icon/components";
interface Props {
	backUrl?: string;
}

const { backUrl } = Astro.props;
import "../css/components/navbar.css";
---

<nav class="navbar" id="navbar">
	<div class="navbar-content">
		{
			backUrl && (
				<a href={backUrl} class="back-button">
					<Icon name="tabler:arrow-left" class="button-icon" />
					<span>Volver</span>
				</a>
			)
		}

		<div class="navbar-theme-toggle" aria-label="Cambiar tema" id="navbar-theme-toggle">
			<Icon class="navbar-icon-theme" name="tabler:moon-filled" />
			<label for="navbar-theme-toggle">Cambiar tema</label>
		</div>
	</div>
</nav>

<script>
	function initThemeToggle() {
		const btn = document.getElementById("navbar-theme-toggle");

		if (!btn) return;

		btn.onclick = () => {
			const dark = document.documentElement.classList.toggle("dark");

			localStorage.setItem("theme", dark ? "dark" : "light");
		};
	}
	/** 
	function updateNavbar() {
		const navbar = document.getElementById("navbar");
		if (!navbar) return;

		const main = document.querySelector("main");

		main?.addEventListener("scroll", () => {
			navbar.classList.toggle("scrolled", main.scrollTop > 10);
		});
	}

	updateNavbar();

	window.addEventListener("scroll", updateNavbar);

	document.addEventListener("astro:page-load", () => {
		updateNavbar();
		window.addEventListener("scroll", updateNavbar);
	});*/

	initThemeToggle();
	document.addEventListener("astro:page-load", initThemeToggle);
</script>
