---
interface Props {
	id?: string;
	title?: string;
	description?: string;
	is_background_alt?: boolean;
}

const { id, title, description, is_background_alt } = Astro.props;

import "../css/components/section.css";
---

<section
	class="section"
	id={id}
	style={`background-color: ${
		is_background_alt
			? "rgba(var(--color-main-bg-alt-rgb), 0.8)"
			: "rgba(var(--color-main-bg-rgb), 0.8)"
	};`}
>
	<div class="section-container">
		{(title || description) && (
			<div class="section-header">
				{title && <h2>{title}</h2>}
				{description && <h6>{description}</h6>}
			</div>
		)}

		<div class="section-content">
			<slot />
		</div>
	</div>
</section>