:root {
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

	--max-width: 1024px;

	--color-bg: #ffffff;
	--color-sidebar-bg: #ffffff;
	--color-navbar-bg: #ffffff;
	--color-main-bg: #f0f4f8;
	--color-card-bg: #fcfcfc;
	--color-sub-menu-bg: #f8fafc;
	--color-sub-menu-button-bg: #f9f9f9;
	--color-bg-transparent: rgba(0, 0, 0, 0.2);

	/* === Texto y colores principales === */
	--color-text: #342e37;
	--color-text-soft: #342e37;
	--color-muted: #6c757d;
	--color-border: #e5e7eb;
	--color-border-secondary: #342e37;

	/* === Colores de acento y efectos === */
	--color-accent: #3d31b2;
	--color-accent-pastel: #b2f0ff;
	--shadow-accent: rgba(61, 49, 178, 0.25);
	--color-hover: #f9f9f9;
	--color-hover-degraded: #e5e5e5;

	/* === Inversos / alternativos === */
	--color-inverse: #111111;
	--color-normal: #ffffff;
	--color-dark-inverse: #2b242e;

	/* === Inputs === */
	--color-input-focus-border: #1d61d0;
	--color-input-focus-shadow: rgba(29, 97, 208, 0.3);
	--color-input-active-border: #b2f0ff;

	--color-input-bg: #ffffff;

	--color-input-border: #342e37;
	/* --color-input-border: #ced4da; */
	--color-input-border-hover: #a8a8a8;
	--color-input-placeholder: #6c757d;

	/* === Tablas / Celdas === */
	--color-cell-border: #e5e7eb;
	/* === Tablas === */
	--color-table-header-bg: #ffffff;
	--color-table-striped-bg: #f9f9f9;
	--color-table-hover-bg: #f1f1f1;

	/* === Scrollbar === */
	--scrollbar-track: hsl(228, 8%, 85%);
	--scrollbar-thumb: hsl(228, 8%, 75%);
	--scrollbar-hover: #5a5a5a;
}

.dark {
	/* === Fondo y estructura === */
	--color-bg: #111110;
	--color-sidebar-bg: #18181b;
	--color-navbar-bg: #20252c;
	--color-main-bg: #0e0e10;
	--color-card-bg: #1a1a1a;
	--color-sub-menu-bg: #111111;
	--color-sub-menu-button-bg: #212121;
	--color-bg-transparent: rgba(255, 255, 255, 0.2);

	/* === Texto y colores principales === */
	--color-text: #e9e9e9;
	--color-text-soft: rgba(233, 233, 233, 0.6);
	--color-secondary: #bbbbbb;
	--color-border: #212121;
	--color-border-secondary: #aaaaaa;
	--color-muted: #aaaaaa;

	/* === Colores de acento y efectos === */
	--color-accent: #d11e4b;
	--color-accent-pastel: #ffe5e5;
	--shadow-accent: rgba(209, 30, 75, 0.3);
	--color-hover: #212121;
	--color-hover-degraded: #2a2a2a;

	/* === Inversos / alternativos === */
	--color-inverse: #eeeeee;
	--color-normal: #111111;
	--color-dark-inverse: #e9e9e9;

	/* === Inputs === */
	--color-input-focus-border: #4ad5b8;
	--color-input-focus-shadow: rgba(74, 213, 184, 0.3);
	--color-input-active-border: #4ad5b8;

	--color-input-bg: #1c1918;
	/*--color-input-bg: #e2e2e2;*/
	--color-input-border: #444;
	--color-input-border-hover: #666;
	--color-input-placeholder: #aaaaaa;

	/* === Tablas / Celdas === */
	--color-cell-border: #242424;
	/* === Tablas === */
	--color-table-header-bg: #181818;
	--color-table-striped-bg: #212121;
	--color-table-hover-bg: #2a2a2a;
	/* === Scrollbar === */
	--scrollbar-track: #181818;
	--scrollbar-thumb: #444;
	--scrollbar-hover: #c1c1c1;
}

:root {
	--radius-card: 12px;
	--radius-active: 8px;
	--radius-boton: 8px;
	--radius-input: 6px;
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
body {
	font-family: "Atkinson", sans-serif;
	position: relative;
	background: var(--color-main-bg);
	/* background-color: green; */
	word-wrap: break-word;
	overflow-wrap: break-word;
	height: 100dvh;
	display: grid;
	grid-template-columns: 300px 1fr;
	overflow-y: hidden;
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

main {
	height: 100%;
	overflow-y: scroll;
	
}

*::-webkit-scrollbar {
	width: 5px;
	background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: var(--radius-input);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-hover);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure {
	margin: 0;
	color: var(--color-text);
}

ul,
ol {
	padding: 0;
	list-style: none;
}

:root {
	/* Títulos grandes */
	--font-size-h1: clamp(1.5rem, 2.5vw, 2rem);
	/* Títulos secundarios */
	--font-size-h2: clamp(1.25rem, 0.9rem + 0.8vw, 1.5rem);
	/* Subtítulos / paneles */
	--font-size-h3: clamp(1.125rem, 1.7vw, 1.28rem);
	--font-size-h4: clamp(1rem, 1.5vw, 1.125rem);
	--font-size-h5: clamp(0.95rem, 1.3vw, 1rem);
	--font-size-h6: clamp(0.9rem, 1.2vw, 0.95rem);
	/* Párrafos */
	--font-size-p: clamp(0.85rem, 1.5vw, 0.86rem);
	/* Texto secundario (inputs, etc.) */
	--font-size-sm: clamp(0.83rem, 1.2vw, 0.84rem);
	/* Ayuda, tooltips */
	--font-size-xs: clamp(0.75rem, 1vw, 0.78rem);
}
h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
h4 {
	font-size: var(--font-size-h4);
}
h5 {
	font-size: var(--font-size-h5);
}
h6 {
	font-size: var(--font-size-h6);
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--color-accent);
}
a:hover {
	color: var(--color-accent);
}
p {
	font-size: var(--font-size-p);
}
small {
	font-size: var(--font-size-xs);
}
textarea {
	width: 100%;
	font-size: var(--font-size-sm);
}
input {
	font-size: var(--font-size-sm);
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
}
pre {
	padding: 1.5em;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--color-accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: var(--font-size-h4);
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
}
